<h1>Câu chuyện thành công!</h1>
@page "/Information"

<h4>
Uống cà phê để hiểu, để biết, để yêu…
</h4>

<p>
    Từ tình yêu với Việt Nam và niềm đam mê cà phê,tháng 1 năm 2022, thương hiệu Cham coffee ra đời với khát vọng nâng tầm di sản cà phê lâu đời của Việt Nam và lan rộng tinh thần tự hào, kết nối hài hoà giữa truyền thống với hiện đại.
Bắt đầu với sản phẩm cà phê đóng gói tại Huế vào tháng 6 năm 2022, chúng tôi đã nhanh chóng phát triển và mở rộng thành thương hiệu quán cà phê nổi tiếng và không ngừng mở rộng hoạt động trong và ngoài nước từ năm 2002.

<p>
    <img src = "https://gotrangtri.vn/wp-content/uploads/2019/06/quan-ca-phe-chup-anh-dep-o-Sai-Gon-12.jpg" />
</p>

Qua một chặng đường dài, chúng tôi đã không ngừng mang đến những sản phẩm cà phê thơm ngon, sánh đượm trong không gian thoải mái và lịch sự. Những ly cà phê của chúng tôi không chỉ đơn thuần là thức uống quen thuộc mà còn mang trên mình một sứ mệnh văn hóa phản ánh một phần nếp sống hiện đại của người Việt Nam.
Đến nay, Cham coffee vẫn duy trì khâu phân loại cà phê bằng tay để chọn ra từng hạt cà phê chất lượng nhất, rang mới mỗi ngày và phục vụ quý khách với nụ cười rạng rỡ trên môi. Bí quyết thành công của chúng tôi là đây: không gian quán tuyệt vời, sản phẩm tuyệt hảo và dịch vụ chu đáo với mức giá phù hợp.
</p>

<h4>
    Thông tin liên hệ
</h4>

<p>
    Cham coffee!
</p>

<p>
    Địa chỉ: 10 Văn Lang, Khánh Mỹ, Phong Điền, Huế.
</p>
<p>
    SĐT: 0333725471
</p>